<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="ISO-8859-1">
  <title>Edit Order</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: purple;">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Home</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggle-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/orders}">Orders</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center"> Update Article </h1>
      <div class = "card-body">
        <form th:action="@{/orders/{id}(id=${order.id})}" th:object = "${order}" method="POST">
          <div class ="form-group">
            <label> Order Description </label>
            <label>
              <input
                      type = "text"
                      name = "order_description"
                      th:field = "*{description}"
                      class = "form-control"
                      placeholder="Enter Employee First Name"
              />
            </label>
          </div>

          <div class = "box-footer">
            <button type="submit" class = "btn btn-primary" style="background-color: #FDFD96; color: black;">
              Submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</body>
</html>